ul {
  font-family: Tahoma, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 7;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #6607b4;
}

.active {
  background-color: #6607b4;
}


.parallax {
  /* The image used */
  background-image: url("https://wallpaperaccess.com/full/674995.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  font-family: Tahoma, sans-serif;
}