ul {
  font-family: Tahoma, sans-serif;
  list-style-type: none;
  margin: 4;
  padding: 5;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #6607b4;
}

.active {
  background-color: #6607b4;
}

body {
  font-family: Tahoma, sans-serif;
}